NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_YIELD_VAULT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_USDC_DECIMALS=6
NEXT_PUBLIC_KYC_SBT_ADDRESS=
NEXT_PUBLIC_WC_PROJECT_ID=
